{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header text-center">Welcome Aquanauts!</h1>

    <div class="text-center">
        <h2><a href="{{ url('homepage') }}genus">Here are the list of found Geneses</a></h2>
    </div>

{% endblock %}
